.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
}
.form input{
    outline: none;
    width: 230px;
    padding: 5px;
}
.form input:focus{
    border: 1px solid green;
}
.btnGroup {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}