.sortedList{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 300px;
    align-items: center;
}
.btn{
    width: 230px;
    padding: 5px 20px;
    outline: none;
    border: none;
}
.btn:hover {
    cursor:pointer;
    background-color: lightgreen;
}