.carDetail {
    width: 100%;
}
.image{
    min-height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 15px;
    border: 1px solid red;
}
.miniInfo{
    min-width: 300px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid red;
    font-size: 20px;
}
.error{
    border-bottom: 1px solid red;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    width: max-content;
}